* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #444;
  background: $cream;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
}

main.wrapper {
  width: calc(100vw / 12 * 10);
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
  font-weight: 400;
}

h2 {
  line-height: 36px;
  font-size: 27px;
}

h3 {
  font-size: 22px;
  line-height: 29px;
}
