.form {
    &-group {
        +.form-group {
            margin-top: 1.5rem;
        }
    }

    input,
    select,
    textarea,
    .ui.selection.dropdown {
        display: block;
        width: 100%;
        border: 1px solid $input-border;
        border-radius: 0;

        .ui.label {
            background: $primary;
            color: $white;
            font-weight: normal;
            font-size: 14px;
        }
    }

    input,
    select {
        height: 45px;
        padding: 10px;
    }

    label,
    &-label {
        font-family: 'Avenir LT Std', Arial, Helvetica, sans-serif;
        color: $form-label;
        
        +input,
        +select,
        +textarea,
        + .ui.selection.dropdown {
            margin-top: 0.25rem;
        }
    }
}