#calendar {
    width: 640px;
    height: 480px;
    margin: 100px auto;
}

%CalculatedBorder {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 20px);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Calendar{
    margin-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    
    &:after{
        @extend %CalculatedBorder;
        background: #979797;
        height: 2px;
    }

    &-header {
        height: 50px;    
        color: $title-color;
        text-align: center;
        line-height: 50px;
        display: flex;
        font-size: 20px;
        justify-content: space-between;

        button {
            width: 50px;
            font-size: 20px;
            border: 0;
            background: transparent;
            color: $black;
            cursor: pointer;
        }

        &-currentDate{
            font-size: 20px;
            line-height: inherit;
            color: $black;
        }
    }


    &-grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        &-days{
            color: $calendar-days;
            position: relative;

            // used psuedo instead of border attr to make border width 100% - the padding
            &:before {
                @extend %CalculatedBorder;
                background: #ddd;
            }
        }
    }

    &-grid-item {
        flex: 0 14.28571%;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        transition: color 0.25s ease;

        &:hover{
            color: lighten($black, 55%);
        }
        
        &.nextMonth,
        &.prevMonth {
            color: #9b9b9b;
        }

        &--current{
            color: #d0021b;
        }
    }

    &-actions{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }
}

