// ==========================================================================
// CLEARFIX
// ==========================================================================

@mixin clearfix-micro() {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin cf() {
  @include clearfix-micro();
}