button,
.btn {
    background: $primary;
    color: $white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Avenir LT Std', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    transition: background-color 0.2s ease-out;
    text-decoration: none;

    &:hover{
        background-color: lighten($primary, 8%);
    }

    svg{
        &.btn-icon-sm{
            $size: 16px;
            width: $size;
            height: $size;
            display: inline-block;
            vertical-align: top;
            margin-right: 1rem;
        }
        .svg-white{ fill: $white; }
    }

    &-secondary{
        color: $primary;
        background: transparent;
        border: 2px solid currentColor;

        &:hover{
            color: lighten($primary, 15%);
            background: rgba($black, 0.05);
        }
    }

    &-transparent{
        background: none;
    }
    
    &-full{
        width: 100%;
    }
}