button,
.btn {
    background: $primary;
    color: $white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Avenir LT Std', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;

    &-secondary{
        color: $primary;
        background: transparent;
        border: 2px solid currentColor;
    }
    
    &-full{
        width: 100%;
    }
}