
.btn{
    &-icon{
        $size: 45px;
        padding: 0;
        border-radius: 0;
        width: $size;
        height: $size;
        
        svg{
            fill: $white;
            width: 20px;
            height: auto;
            max-width: 30px;
            margin: auto;
        }
    }

    &-back{
        position: absolute;
        left: 0;
        top: 300px;
    }
}